@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "The Seasons";
  src: url("./assets/fonts/TheSeasons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("./assets/fonts/TTHoves-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
}
body {
background-color: #1F2937;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 3s steps(30, end) infinite, blink 1s step-end infinite;
}
.bubble {
  position: relative;
  background-color: #f3f4f6; /* light bubble */
  color: #111827;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid #d1d5db; /* gray-300 */
  max-width: 300px;
  margin-top: 1rem;
}

.dark .bubble {
  background-color: #1f2937; /* dark bubble */
  color: #f9fafb;
  border-color: #4b5563; /* gray-600 */
}

.bubble::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #f3f4f6; /* bubble background */
  z-index: 0;
}

.dark .bubble::after {
  border-right-color: #1f2937;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
